@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

body{
    font-family: 'Baloo 2', cursive;  
}
/* Star Widget */
.formhide{
	display: none;
}
.star-widget input{
	display: none;
  }
  .star-widget{
	  float: left;
  }
.star-widget label{
	font-size: 27px;
	color: #444;
	padding: 10px;
	float: right;
	cursor: pointer;
	transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
	color: #fd4;
  }
  input:checked ~ label{
	color: #fd4;
	text-shadow: 0 0 20px #952;
  }
 

/* Star Widget Ends */
:root {
	--primary: #1c262f;
	--primary-light: #212d37;
	--secondary: rgb(2,0,36);
	--tertiary: #00dabf;
	--gradient: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(53,53,176,0.5149572323530148) 53%, rgba(0,212,255,1) 100%);
}
.rupees{
	color: cyan;
}
h1 {
	font-size: 60px;
	font-weight: 500;
}

p,
ul,
h4 {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

li {
  	list-style-type: none;
}

/* Section Background */
.home,
.about,
.plans,
.work,
.contact {
	height: 110vh;
	position: relative;
}
.information,
.services,
.work,
.contact,
.testimonial,
.footer {
  	background-color: var(--primary);
}

.about,
.plans,
.company,
.newsletter,
.location {
  	background-color: var(--primary-light);
}

.bottom {
  	background-color: black;
}

/* About background */
.bg-img{
	background: url(../assets/images/about_background.webp) center center no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	background-position: center;
}
.about-box{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e0dada;
	
}
.box-1,
.box-2,
.box-3,
.box-4{
	width: 250px;
	height: auto;
	padding: 0 0 30px 0;
	margin: 40px;
	position: relative;	
	text-align: center;
}
.box-1{
	background-color:#fff;
	margin-top: -2%;
}
.box-2{
	background-color:#fff;
	margin-top: -13%;
}
.box-3{
	background-color:#fff;
	margin-top: -2%;
}
.box-4{
	background-color:#fff;
	margin-top: -13%;
}
.box-text,
.box-icon{
	
	margin: 0 20px;
	font-weight: 500;
	justify-content: center;
	align-items: center;
}
.box-icon{
	height: 80px;
	width: 80px;
	margin: 15px auto;
	background: #000;
	border-radius: 50%;
	
}
.box-icon i{
	color: var(--tertiary);
	font-size: 35px;
	margin-top: 1.4rem;
}
/* About background Ends */
/* strategy starts */
.strategy{
	padding: 5rem 0;
}
.strategy li{
	font-size: 1.3rem;
	
}
.strategy .bg-primary{
	color: #fff;
}
.strategy .col-md-6 li{
	margin: 10px 0;	
	margin-left: 50px;
}
.strategy .col-md-6{
	padding: 5%;	
	height: 400px
}
.strategy a{
	color: #000;
	font-size: 4rem;
}
/* strategy ends */

/* Gradient Border And Background On Icons */
.home_text,
.home .fas,
.plans .far,
.information .fas,
.work .fas,
.services .fas,
.location .far,
.location .fas {
	padding: 15px 0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgb(63,94,251)),
		to(#00dabf)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
	cursor: pointer;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--gradient);
}

.services{
	height: 100%;
}

/* Contact Section webkit css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
	border: 1px solid green;
	background: none;
  -webkit-text-fill-color: white;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #1c262f inset;
  transition: background-color 5000s ease-in-out 0s;
}
.field{
	background: none;
	color: #eee;
	background-color: transparent;
	outline: none;
}
/* reveal elements */
.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: all 2s ease;
  }
  
.reveal.active{
	transform: translateY(0px);
	opacity: 1;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	background-color: var(--primary);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
	width: 108px;
	height: 32px;
}

.navbar .logo-text {
	color: #fff;
	font-weight: 500;
	line-height: 1rem;
	font-size: 1.575rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 2.75rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	overflow-y: auto;
	visibility: hidden;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: var(--primary);
	transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .dropdown-menu {
	border: none;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	background-color: var(--secondary);
}

.navbar .dropdown-item {
	color: #eee;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	padding-top: 0.625rem;
	text-decoration: none;
	padding-bottom: 0.625rem;
}

.navbar .dropdown-item:hover {
  color:  cyan;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	border: none;
	margin: 0.5rem auto 0.5rem auto;
	background-color: var(--primary-light);
}

.navbar .nav-item .nav-link {
	color: #eee;
	text-decoration: none;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	/* transition: all 0.2s ease; */
}
.navbar .nav-item .nav-link:hover {
	color: cyan;
}
.navbar .fa-stack {
	width: 2em;
	font-size: 0.75rem;
	margin-right: 0.25rem;
}

.navbar .fa-stack-2x {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgb(63,94,251)),
		to(#3209e6)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
  	color: var(--primary);
}

.navbar .fa-stack:hover .fa-stack-1x {
  	color: var(--primary);
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/****************/
/*     Home     */
/****************/
.home {
	background-image: url(../assets/images/home.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.para {
  	width: 50%;
}

.para-light {
  	opacity: 0.9;
}



/***********************/
/*     Information     */
/***********************/
.information .container-fluid .row div:first-child {
  	background-color: var(--primary);
}

.information .container-fluid .row div:last-child {
  	background-color: white;
}

.information .container-fluid .row div:nth-child(2) {
  	background-color: var(--primary-light);
}


/******************/
/*     Button     */
/******************/
.btn {
	color: white;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn:hover {
	color: white;
	box-shadow: none;
	border-radius: 0;
	padding: 10px 30px;
	transform: translate(5px, 5px);
}

/* Email - Newsletter Button */
.btn-secondary {
	color: black;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
}

.btn-secondary:hover {
	color: black;
	padding: 10px 30px;
	background-image: var(--gradient);
}

/* Other Pages Button */
.btn-tertiary {
	color: black;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn-tertiary:hover {
	color: black;
	box-shadow: none;
	border-radius: 0;
	padding: 10px 30px;
	transform: translate(5px, 5px);
}


/********************/
/*     Services     */
/********************/
.services .card {
	padding: 20px;
	border-radius: 0;
	border: 2px solid white;
	position: relative;
}
.services .png1{
	position: absolute;
	right: 2px;
	
	
}
.png1 img{
	opacity: 0.2;
	width: auto;
	height: auto;
}
.services .card:hover {
	border: 10px solid;
	transform: scale(1.01);
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px #0ee951;
}


/*****************/
/*     Plans     */
/*****************/
.plans .card {
	padding: 20px;
	border: 2px solid white;
	position: relative;
}
.plans .png2 {
	width: 100%;
	height: 100%;
	
}
.png2 img{
	/* opacity: 0.2; */
	width: 500px;
	position: absolute;
	border: none;
	bottom: -9px;
	right: 0px;
	
}
/* Portfolio */
.testimonial .container .img-fluid{
	border-radius: 50%;
	border: 2px solid #fff;
}
.testimonial .container img{
	height: 150px;	
	width: 150px;	
}
.testimonial .container i{
	font-size: 1.5rem;	
}

/************************/
/*     Testimonials     */
/************************/
/* .slider-1 {
	padding-top: 5.25rem;
	padding-bottom: 8.5rem;
}

.slider-1 .section-title {
  	text-align: center;
}

.slider-1 .h2-heading {
	text-align: center;
	margin-bottom: 3rem;
}

.testimonial-card {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: var(--gradient);
}

.slider-1 .slider-container {
  	position: relative;
}

.slider-1 .swiper-container {
	width: 86%;
	position: static;
}

.slider-1 .swiper-button-prev,
.slider-1 .swiper-button-next {
  	color: var(--primary);
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	/* outline: none;
} */

.slider-1 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .card {
	border: none;
	position: relative;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-bottom: 1.25rem;
}

.slider-1 .card-body {
  	padding: 0;
}

.slider-1 .testimonial-text {
  	margin-bottom: 0.75rem;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
	color: #252c38;
}

.slider-1 .avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
} */

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  	animation: fadeDropdown 0.2s;
	   /* required for the fade animation */
}

@-webkit-keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/**********************/
/*     Newsletter     */
/**********************/
.form-control-input,
.form-control-textarea {
	width: 100%;
	appearance: none;
	border-radius: 4px;
	font-size: 0.875rem;
	line-height: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 0.775rem;
	padding-bottom: 0.775rem;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	z-index: 99;
	right: 20px;
	width: 52px;
	height: 52px;
	bottom: 20px;
	border: none;
	outline: none;
	display: none;
	position: fixed;
	cursor: pointer;
	border-radius: 50%;
	color: white;
	background-color: #0f0f11;;
}
#myBtn img {
	width: 18px;
	margin-left: 0.125rem;
	margin-bottom: 0.25rem;
}
.text-align-center{
	text-align: center;
}
/***********************/
/*     Extra Pages     */
/***********************/

.ex-header {
	padding-top: 5.5rem;
	padding-bottom: 3rem;
	background-color: var(--primary);
}

.ex-header h1 {
  	color: #fff;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
  	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f7f9fd;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
  	color: var(--secondary);
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
  	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}
#exampleFormControlTextarea1{
	resize: none;
}
.contact-img{
	height: auto;
	width: 90%;
	opacity: 0.8;
	border-radius: 5px;
	
}




/*************************/
/*     Media Queries     */
/*************************/
@media only screen and (max-width: 1024px) {
	.services,
	.work,
	.testimonial,
	.about,
	.contact,
	.plans {
		height: 100%;
	}
	.png2 img {
		width: 186px;
		bottom: -33px;
		right: -47px;
	}
}

@media (min-width: 992px) {
	#frmSubmit{
		z-index: 1;
	}
	.about-k img{
		display: none;
	}
	.png2 img {
		width: 131px;
		bottom: -18px;
		right: -30px;
	}
	/* Navigation */
	.navbar {
		box-shadow: none;
		transition: all 0.2s;
		padding-top: 1.75rem;
		background-color: transparent;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: var(--primary);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1rem;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.875rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}

	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
}
@media (max-width: 991px){
	.bg-img{
		height: 400px;
		background-position: 96.29% 50%;
	}
	.about-box{
		flex-direction: column;
	}
	.box-1,
	.box-2,
	.box-3,
	.box-4{
		width: 75%;
		margin: 15px;
	}
	.box-1{
		margin-top: -5%;
	}
	.box-icon{
		height: 75px;
		width: 75px;
		margin: 33px auto;
		
	}
	.box-icon i {
		margin-top: 18px;
	}
	.contact .about-k{
		position: absolute;
		left: 16px;
		top: 163px;
		width: 86%;
		
	
	}
	.about-k img{
		opacity: 0.2;
		display: block;
		width: 100%;
		height: 392px;
	}
	#frmSubmit{
		z-index: 1;
	}
	#navbarSideCollapse{
		color: var(--gradient);
	}
}

@media only screen and (max-width: 540px){
	.contact .about-k{
		left: 14px;
		width: 84%;
		top: 185px;
		
	
	}
	.about-k img{
		display: block;
	}

	#navbarSideCollapse{
		color: var(--gradient);
	}
	.navbar .navbar-nav {
		font-size: 1.3rem;
		
	}
	
	.navbar-nav .nav-link {
		margin-top: 10px;
		
	}

	h1 {
		font-size: 30px;
	}

	.para {
		width: 100%;
	}

	.swiper-container {
		width: 92%;
	}

	.swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}
	.png2 img{
		width: 41%;
		bottom: -17px;
		right: -14px;
	}


	.bg-img{
		height: 300px;
	}
	.about-box{
		flex-direction: column;
	}
	.box-1,
	.box-2,
	.box-3,
	.box-4{
		width: 75%;
		margin: 15px;
	}
	.box-1{
		margin-top: -5%;
	}
	

	.box-icon{
		height: 75px;
		width: 75px;
		margin: 33px auto;
		
	}
	.box-icon i {
		margin-top: 18px;
	}
}
